.about_me_container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem;
    grid-row-gap: 2rem;
}

.about_me_container__card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #b8e0ff, #85caff);

    grid-column: 1/4;
    grid-row: 1/2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about_me_container__card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #b8e0ff, #85caff);

    grid-column: 5/9;
    grid-row: 1/2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about_me_container__card3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #b8e0ff, #85caff);

    grid-column: 10/13;
    grid-row: 1/2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about_me_container__card4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #b8e0ff, #85caff);

    grid-column: 2/6;
    grid-row: 2/3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about_me_container__card5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #b8e0ff, #85caff);

    grid-column: 8/12;
    grid-row: 2/3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-front-text{
    font-size: 4rem;
}

button {
    border: none;
    cursor: pointer;
    font-size: 2rem;
    background-color: inherit;
    color: darkblue;

    justify-self: flex-end;
}

button:hover {
    transform: translateY(-.1rem);
    font-weight: bold;
    cursor: pointer;
}

.card-front {
    background-color: lightyellow;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25rem;
    width: 25rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-back {
    background-color: rgb(255, 224, 228);
    font-size: 1.3rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25rem;
    width: 25rem;

    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}